html{
    height: 100%; 
    width: 100%; 
    overflow: hidden;
}

body{
    width: 100%; 
    height: 100%;
    padding: 0;
    margin: 0; 
    background-color: #1e1e1e;
}

/*标签上的关闭按钮*/
#tabs a{
    margin-left: 18px;
    margin-right: 0;
    cursor: default;
    font-size: 0;
    display: inline-block;
}
#tabs a:before, #tabs a:after{
    content: '';
    width: 10px;
    height: 1px;
    background: transparent;
    display: block;
}
#tabs a:before{
    transform: translateY(11px) rotate(45deg);
}
#tabs a:after{
    transform: translateY(-20px) rotate(-45deg);
}
#tabs a.modify_btn:before{
    background: #0ff;
    width: 10px;
    height: 2px;
    transform: translateY(11px) rotate(45deg);
}
#tabs a.modify_btn:after{
    background: #0ff;
    width: 10px;
    height: 2px;
    transform: translateY(-21px) rotate(-45deg);
}
#tabs a.curr_btn:before, #tabs a.curr_btn:after{
    background: #666;
}
#tabs a.over_btn:before, #tabs a.over_btn:after{
    background: #888;
}
#tabs a:hover:before, #tabs a:hover:after{
    background: #f00;
}


/*标签栏*/
#tabs{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 30px;
    position: relative;
    color: #aaa;
    background: #262627;    
    overflow: hidden;                           /*处理超出的内容*/
    user-select: none;                          /*禁止选中标签栏文字*/
}

#tabs li{
    top: 0px;
    height: 30px;
    line-height: 30px;                          /*行距，一行文字的高度*/
    padding: 0 .6em 0 .8em;
    font-size: 14px;

    display: inline-block;
    position: relative;
    text-align: left;
    cursor: default;    
}

/*鼠标经过*/
#tabs li:hover{
    color: #ddd;
    background-color: #333;
}

/*当前选中*/
#tabs li.current{
    color: #fff;
    background-color: #1e1e1e;
}



/*右边功能按钮*/
#tabs li.prev{
    float: right;
}
#tabs li.next{
    float: right;
}
#tabs li.menu{
    float: right;
}

/* 二级菜单 */
#menulist{
    width:100px;
    display: block;
    visibility: hidden;         /* 初始化页面时不显示出来 */
    position: absolute;
    margin-left: 0px;
    max-height: 100px; */          /* 设置最大显示长度，内容越界按overflow设置进行处理 */
    overflow: auto;
}

#menulist li {
    float: none;                /* 垂直排列 */
    background: #4281B7;        
    text-align: left;
    padding-left: 8px;
    width: 120px; 
    height: 24px;
    line-height: 24px;          /* 使文字垂直居中 */
}

#menulist li:hover {
    background: #0cf;           
}






 
/*编辑器*/
#editor{
    margin: 0;
    width: 100%; 
    height: 100%;
}